_*
.DS_Store
.unsaved
*.bank
.cache
.restore
.user
FMODStudioCache.asset
fmod.log
fmod_editor.log
.timestamps*
*.pyc
.vscode/settings.json
ZiplineLT.dll
Wimpy.rc
Wimpy.ico
Wimpy.exe
vcruntime140.dll
vccorlib140.dll
msvcp140.dll
msvcp140_2.dll
msvcp140_1.dll
fmodstudio.dll
fmod.dll
Duck.dll
DeloresDev.rc
DeloresDev.ico
DeloresDev.exe
concrt140.dll

